<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Javier Mariscal</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/works">Works</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/photo">PhotoGallery</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <div class="biography">

        <p>Javier Mariscal was born in Valencia (1950). He is a painter, cartoonist, comic book artist, designer,..., definitely, an absolute artist.</p>
        <p>Overall, he´s a big creator.</p>
        <p>He founded Mariscal Studio in Barcelona,in 1989, , and has worked since then for major brands like Silken Hotels or Luis Vuiton</p>
        <p>He is dyslexic, which made it difficult for him to study at school, so he spent his time drawing instead of attending to his teacher. Thus began his famous Garriris.</p>
        <p>In his early days he did a lot of underground comics, following the influence of artists like Robert Crumb.</p>
        <p>Mariscal has developed himself as a multi-faceted artist, doing paintings, making ceramics, designing furniture, designing interiors... </p>
        <p>He speaks like a tender madman, who turns into a troublemaker who does not easily fit into the system, giving his opinion of his surroundings in a cross-cutting and different way. He breaks the rules, with graphics contraries to the estalished
            canons. </p>
        <p>It is said that when he presented an important work to a serious bank, at one point during the presentation he took off his shoes to sing exaggeratedly over the table of the general manager's office to the surprised gaze of all those present.Not
            only was the bank delighted with his work, it became a symbol of the city.
        </p>
        <p>To amaze, hit and being noticed, Mariscal is the right person. Some people say he is strange, but his attitude is that of a genius, someone with so much talent that, even if he stumbles, his reappearances will never leave anyone indifferent.
        </p>
        <p>He´s unique expressing himself with a language, as complex as simple and as innocent as provocative.</p>
    </div>


</body>


</html>