<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Javier Mariscal</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css" />


</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/works">works</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/photo">PhotoGallery</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <div class="bunch" id="work-img">

        <div class="photogallery">
            <img src=" ./images/Alexandra.png ">
            <p>Alexandra armchair. Designed inspired by organic shapes</p>
        </div>
        <div class="photogallery">
            <img src="./images/bar-cel-ona.png " />
            <p>Logo Barcelona city</p>
        </div>
        <div class="photogallery">
            <img src="./images/cobi.png" />
            <p>Official mascot of the 1992 JJOO. Cobi , designed in a cubic style, was inspired by the interpretations of Picasso of Las Meninas </p>
        </div>
        <div class="photogallery">
            <img src="./images/el sidecar.png " />
            <p>Cover by Xavier Mariscal of this underground comix</p>
        </div>

        <div class="photogallery">
            <img src="./images/taburete-duplex.png " />
            <p>Iconic Duplex stool, now is part of the collection of Vitra Design Museum, Philadelphia Museum of Art and the Barcelona Design Museum. It was born in the project of interiorism of Dúplex Bar in Valencia.</p>
        </div>
        <div class="photogallery">
            <img src="./images/crash.jpeg " />
            <p>Artwork for ARCO Fair</p>
        </div>
        <div class="photogallery">
            <img src="./images/twipsy.jpeg " />
            <p>Official Mascot of the EXPO 2000 World's Fair held in Hannover</p>
        </div>

    </div>

</body>

</html>