<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Javier Mariscal</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/works">works</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/photo">PhotoGallery</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="works" id="mariscalwork">
        <p>WORKS</p>
        <ul>
            <li>Underground comic. At his beginnings he formed the underground comix group El Rrollo with other artists. After, he was one of the artists for El Vibora in which he brought back its characters "Los Garriris". Artistic differences drifted him
                away from El Víbora in the 1980s, and Mariscal became the multi-faceted artist we know today.</li>
            <li>Design of logo "Bar Cel Ona", 1979</li>
            <li>Design of Duplex and its iconic stool,1980.</li>
            <li>Cobi (a character of The Garriris) was chosen as the mascot for the Barcelona 1992 Olympic Games.</li>
            <li>Animation serie "The Cobi Troupe".</li>
            <li>Mariscal Studio collaborated in several projects with designers and architects. His most notable works include the visual identities for the Swedish social democratic party, Socialdemokraterna; the Spanish radio station Onda Cero; Barcelona
                Zoo; the University of Valencia; the Lighthouse Centre for Architecture and Design in Glasgow, the GranShip Cultural Centre in Japan and the London postproduction company, Framestore. </li>
            <li>He participated in ARCO with the sculpture, Crash!, a homenage to the optimist design of the 1950s and a way of telling us that that confidence in the future has exploded because now we need to think about how to make a future possible, 2006.</li>
            <li>Design of Twipsy, mascot for the Expo 2000 in Hanover, 1995.</li>
            <li>Design of a colection of furniture for an italian enterprise, with the famous Alexandra armchair.</li>
            <li>Exhibition "Drawing Life" in London Design Museum, and mural for the outside of the museum .</li>
            <li>Exhibition of all his work in La Pedrera.</li>
            <li>Mariscal drew and co-directed, with Fernando Trueba, the film Chico and Rita in 2010. The film celebrates the music and culture of Cuba and depicts a love story set against backdrops of Havana, New York, Las Vegas, Hollywood and Paris in the
                late 1940s and early 1950s. The film was nominated for the Academy Award for Best Animated Feature.</li>
            <li>and a large etc</li>
        </ul>
    </div>
    <div clas="awards" id="mariscalAwards">
        <p>AWARDS</p>
        <ul>
            <li> National Design Prize of the Spanish Department of Industry in recognition of achievements throughout a professional career, 1999.</li>

            <li>Award of the Hungarian National Student Jury for Chico and Rita at the 7th Festival of European Animated Feature Films </li>

        </ul>
    </div>
    </div>


</body>

</html>